.container {
    min-width: 230px;
    height: 100vh;
    border-right: 1px solid var(--border-color);
    background-color: var(--white);
    z-index: 1;
}

@media (max-width: 750px) {
    .container {
        height: calc(100% - 117px);
    }
}

.category {
    padding-top: 18px;
}

.categoryName {
    font-weight: var(--medium);
    padding-left: 30px;
    padding-bottom: 12px;
}

.container ul {
    transition: 5s;
}

.container ul > a > li {
    display: flex;
    align-items: center;
    padding-left: 30px;

    width: 202px;
    height: 40px;
    color: var(--black);
    border-radius: 0px 8px 8px 0px;
}

.container ul > a > li > p {
    padding-left: 20px;
}

@media (max-width: 750px) {
    .toggle {
        position: absolute;
        overflow-y: scroll;
        transform: translateX(-230px);
    }

    .show {
        transform: translateX(0px);
    }
}
