.container {
    width: fit-content;
}

.stepName {
    position: relative;
    font-size: var(--base-fs);
    font-weight: var(--medium);
    margin-bottom: 10px;
}

.stepName::after {
    content: " ";
    position: absolute;
    bottom: -5px;
    width: 80px;
    height: 2px;
    background-color: black;
    border-radius: 50%;
}

.inputContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    max-width: 560px;
}

.button {
    margin-top: 50px;
}

.progressContainer {
    width: fit-content;
    margin-top: 30px;
    font-size: var(--base-fs);
}

.progressElement {
    display: flex;
}

.loader {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    animation: spin 1s linear infinite;
    margin-right: 10px;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@media (max-width: 1200px) {
    .container {
        width: unset;
    }

    .tableWrapper {
        width: 100%;
    }
}
