.button {
    cursor: pointer;
    font-size: var(--base-fs);
    font-weight: var(--medium);
    font-family: var(--font-geist-sans);
    color: var(--white);
    padding: 9px 40px;
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color);
    background-color: var(--button-color);
    transition: 0.2s;
}

.button:active {
    background-color: var(--green) !important;
}
