:root {
    --font-geist-sans: "Geist Sans";

    --font-color: #171717;
    --label-font-color: #64748b;
    --border-color: E2E8F0;
    --border-radius: 8px;

    --input-background: #f8f8f8;
    --background: #f1f5f9;
    --background-mute: #f1f5f9ad;

    --red: #d93036;
    --blue: #692ae5;
    --green: #398e4a;
    --white: #ffffff;

    --small-fs: 0.875rem;
    --base-fs: 1rem;
    --large-fs: 1.625rem;
    --xlarge-fs: 2rem;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    color: var(--font-color);
    background: var(--white);
    font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 1.3rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}
