.container {
    width: fit-content;
}

.stepName {
    position: relative;
    font-size: var(--base-fs);
    font-weight: var(--medium);
    margin-bottom: 20px;
}

.stepName::after {
    content: " ";
    position: absolute;
    bottom: -5px;
    width: 80px;
    height: 2px;
    background-color: black;
    border-radius: 50%;
}

.inputContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    max-width: 560px;
    margin-bottom: 5px;
}

.inputContainer p {
    margin-top: 10px;
    font-weight: var(--medium);
}

.options {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    gap: 10px;

    font-size: var(--base-fs);
}

.options div {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.options div div {
    border: 1px solid var(--black);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
    font-weight: var(--medium);
}

.button {
    margin-top: 50px;
}

.imageContainer {
    width: 800px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;

    margin-top: 40px;
}

.image {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--white);
    text-transform: uppercase;
    font-weight: var(--semiBold);

    font-size: var(--base-fs);
    background-color: var(--black);
    border: 1px solid black;
}

@media (max-width: 1460px) {
    .imageContainer {
        width: auto;
    }
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    cursor: pointer;
}

.modalContent {
    max-width: 90%;
    max-height: 90%;
    overflow: hidden;
}

.modalContent img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    border-radius: 8px;
}
